<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center mt-5">
        <div class="card w-50" style="width: 18rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image">
            <div class="card-body position-relative">
                <h1>
                    <%= listing.title %>
                </h1>
                <p class="card-text">
                    <b>Owner:</b> <i>
                        <%= listing.owner.username %>
                    </i>
                </p>
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text">Price: $<%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p class="card-text">Location: <%= listing.location %>, <%= listing.country %>
                </p>
                <a href="/listings">Back to Listings</a>

                <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
                    <div class="dropdown position-absolute bottom-0 end-0 m-2">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
                            ⋮
                        </button>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/listings/<%= listing._id %>/edit">Edit Listing</a></li>
                            <li>
                                <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                                    <button class="dropdown-item" type="submit">
                                        Delete Listing
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <% if(currentUser) { %>
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" id="comment" name="review[comment]" rows="3" required></textarea>
                    <div class="invalid-feedback">Please add some comment</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
            <% } %>
                <%if(listing.reviews.length> 0) { %>
                    <hr>
                    <div class="card mb-3 p-3">
                        <h4>Reviews</h4>
                        <hr>
                        <% for(let review of listing.reviews) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Review by @<%= review.author.username %>
                                    </h5>
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                        Rated: <%= review.rating %> stars
                                    </p>
                                    <p class="card-text">
                                        <%= review.comment %>
                                    </p>
                                </div>
                                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                    method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
                    <div>
                        <h3>where you can find it</h3>
                            <div class="mb-3 p-3 map-container">
                                <div id="map"></div>
                            </div>
                    </div>
    </div>
    <script>
  const lat = <%- JSON.stringify(listing.geometry.coordinates[1]) %>;
  const lng = <%- JSON.stringify(listing.geometry.coordinates[0]) %>;

  const map = L.map('map').setView([lat, lng], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap',
    maxZoom: 18,
  }).addTo(map);

  L.marker([lat, lng])
    .addTo(map)
    .bindPopup("<b><%= listing.title %></b><br><%= listing.location %>")
    .openPopup();
</script>
    <script src="/js/map.js"></script>